services:
  web:
    container_name: "angie_web"
    image: docker.angie.software/angie:1.11.1-minimal
    ports:
      - "8080:8080"
      - "80:80"
      - "443:443"
    networks:
      - frontend
    volumes:
      - ./angie.conf:/etc/angie/http.d/angie.conf
      - ./certificates:/var/lib/angie/acme/example/
    restart: unless-stopped
  x-ui:
    image: askeladq/x-ui:3x-ui
    container_name: "3x-ui"
    volumes:
      - ./db/:/etc/x-ui/
      - ./certificates/:/root/cert/
    environment:
      XRAY_VMESS_AEAD_FORCED: "false"
      XUI_ENABLE_FAIL2BAN: "true"
    env_file:
      - .env
    tty: true
    network_mode: host
    restart: unless-stopped
networks:
  frontend:
    name: angie
    driver: bridge
