services:
  web:
    container_name: "angie_web"
    image: angie_staging
    ports:
      - "8080:8080"
      - "80:80"
      - "443:443"
    networks:
      - frontend
    volumes:
      - ./certificates:/var/lib/angie/acme/example/
    restart: unless-stopped
  x-ui:
    image: askeladq/x-ui:3x-ui.1.3
    container_name: "3x-ui"
    volumes:
      - $PWD/db/:/etc/x-ui/
      - $PWD/certificates/:/root/cert/
    environment:
      XRAY_VMESS_AEAD_FORCED: "false"
      XUI_ENABLE_FAIL2BAN: "true"
    tty: true
    network_mode: host
    depends_on:
      - web
    restart: unless-stopped
networks:
  frontend:
    name: angie
    driver: bridge
